<main>

    <section class="galleryitem">
        <figure>
            <img src="img/gal/012.jpg" />
        </figure>
        <figcaption>
            <h1>012 Over Washington - Balloon Festival</h1>
            <p>Original collage</p>
            <p>12x12&quot; floating frame</p
            <p>12x12&quot; floating frame</p>
            <p>2015</p>
            <p class="price">$360</p>
        </figcaption>
    </section>

    <section class="galleryitem">
        <figure>
            <img src="img/gal/017.jpg" />
        </figure>
        <figcaption>
            <h1>017 Venus Ancestor</h1>
            <p>Original collage on paper</p>
            <p>7x7&quot; framed</p>
            <p>2014</p>
            <p class="price">$80</p>
        </figcaption>
    </section>

    <section class="galleryitem">
        <figure>
            <img src="img/gal/023.jpg" />
        </figure>
        <figcaption>
            <h1>023 Black Lips and Bruises</h1>
            <p>Original collage on paper</p>
            <p>6.6x8.5&quot; framed</p>
            <p>2015</p>
            <p class="price sold">Sold</p>
        </figcaption>
    </section>

    <section class="galleryitem">
        <figure>
            <img src="img/gal/015.jpg" />
        </figure>
        <figcaption>
            <h1>015 Red Gods</h1>
            <p>Original collage on paper</p>
            <p>10x12&quot; framed</p>
            <p>2015</p>
            <p class="price">$100</p>
        </figcaption>
    </section>

    <nav class="pagination">
        <ul class="pagelinks">
            <li>
            </li>
        </ul>
    </nav>

</main>