<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Raleway|Hind' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/b_main.css" rel="stylesheet" type="text/css" />
    <link href="css/b_nav.css" rel="stylesheet" type="text/css" />
    <link href="css/b_gal.css" rel="stylesheet" type="text/css" />

        <!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<![endif]-->
<meta name="viewport" content="width=device-width">
<title>Brian Wentz - Artist</title>
</head>

<body>

    <div class="super">    <!-- </div> in bot.html -->

    <nav class="primary">

        <div class="clearfix">

            <div class="titletxt">
                <span><em>Brian Wentz</em> <span class="facont"><i class="fa fa-circle"></i></span> Artist</span>
            </div>

            <div class="navbutton">
                <i class="fa fa-bars"></i>
            </div>

            <div class="navlinks clearfix">
                <div class="valignhelper">
                    <ul class="toplinks clearfix">
                        <li class="topli" id="li1">
                            <a class="topa" href="#" id="cat1">Collage<span class="pointy" id="pointy1"></span></a>
                            <ul class="sublinks clearfix" id="sub1">
                                <li>
                                    <a href="gallery1.html">Gallery 1</a>
                                </li>
                                <li>
                                    <a href="gallery2.html">Gallery 2</a>
                                </li>
                            </ul>

                        </li>
                        <li class="topli" id="li2">
                            <a class="topa" href="#" id="cat2">Digital<span class="pointy" id="pointy2"></span></a>
                            <ul class="sublinks clearfix" id="sub2">
                               <!-- <li>
                                    <a href="#">Animated Gifs</a>
                                </li> -->
                                <li>
                                    <a href="video.html">Video</a>
                                </li>
                                <!-- <li>
                                    <a href="#">Others</a>
                                </li> -->
                            </ul>

                        </li>
                        <li class="topli" id="li3">
                            <a class="topa" href="http://bawentz.storeenvy.com/" target="_blank" id="cat3">Store</a>
                        </li>
                        <li class="topli" id="li4">
                            <a class="topa" href="#" id="cat4">Contact<span class="pointy" id="pointy4"></span></a>
                            <ul class="sublinks clearfix" id="sub4">
                                <li>
                                    <a href="mailto:bawentz@gmail.com"><i class="fa fa-envelope-o"></i> bawentz@gmail.com</a>
                                </li>
                            </ul>

                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </nav>

    <div class="barcontainer">
        <div class="colorbar" id="colorbar1">
            &nbsp;
        </div>
        <div class="colorbar" id="colorbar2">
            &nbsp;
        </div>
        <div class="colorbar" id="colorbar4">
            &nbsp;
        </div>
    </div>